.card {
width: 250px;
height: 400px;
border: 1px solid gray;
padding: 10px;
border-radius: 4px;
background-color: antiquewhite;

}
.card.card.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.card.card desc{
    background-color: black;
}
.card h2 {
    text-align: center;
    margin: 10px 0;
    color: black;
}
.card p {
    padding: 0 10px;
    text-align: justify;
    color: #333;
}
.card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.card button:hover {
    background-color: darkcyan;
}